[Unit]
Description=Watches log files post-rotation for additional processing and uploading to Google Drive
Requires=network.target network-online.target

[Service]
Type=simple
Environment=HOME=/
WorkingDirectory=/opt/reportagent
ExecStart=/usr/bin/node -r esm reportagent.js

[Install]
WantedBy=multi-user.target